@import url('https://fonts.googleapis.com/css?family=Biryani:900&display=swap');

body {
	background-color: #ebc334;
	font-family: 'Biryani', sans-serif;
}
#page {
	max-width: 1100px;
	min-width: 1000px;
	margin: 10px auto 10px auto;
	padding: 20px;
	border: 4px double orange;
	background-color: white;
}
#logo {
	width: 300px;
	margin: 0px auto 0px auto;
}
#nav {
	width: 570px;
	padding: 15px;
	margin: 0px auto 0px auto;
	border-top: 2px solid orange;
	border-bottom: 2px solid orange;
	text-align: center
}
li {
	display: inline;
	margin: 0px 3px;
	color: orange;
}
p, h1{
	text-align: center;
	width: 800 px;
	margin: 20px auto 20px auto;
	font-size: 100%;
}
h2 {
	text-align: center;
	width: 800 px;
	margin: 20px auto 20px auto;
	font-size: 140%;
}
a {
	color: orange;
	text-decoration: none;
	padding: 6px 18px 6px 18px;
}
header {
	background-color: #FFED74;
	border: 1px black solid;
	padding: 20px;
}
nav {
	background-color: #E8C66A;
	border: 1px black solid;
	padding: 20px;
}
section {
	background-color: #FFE2B8;
	border: 1px black solid;
	padding: 20px;
}
aside {
	background-color: #FFC675;
	border: 1px black solid;
	padding: 20px;
}
article {
	background-color: #E89C6C;
	border: 1px black solid;
	padding: 20px;
}
footer {
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
	font-size: 80%;
	color: white;
}